<z-code language="javascript" [code]="code">

</z-code>

<z-code language="typescript" [code]="code1">


</z-code>

<!--<z-code language="javascript" >-->
  <!--&lt;!&ndash;import &#123; Component, Type &#125; from '@angular/core';&ndash;&gt;-->

  <!--&lt;!&ndash;@Component(&#123;&ndash;&gt;-->
    <!--&lt;!&ndash;selector: 'my-app',&ndash;&gt;-->
    <!--&lt;!&ndash;template: `my-app`&ndash;&gt;-->
  <!--&lt;!&ndash;&#125;)&ndash;&gt;-->
  <!--&lt;!&ndash;export class AppComponent &#123;&#125;&ndash;&gt;-->
<!--</z-code>-->

